{% extends "home/base.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="metadata">
      <a class="mr-2" href="#">{{ object.teacher }}</a>
      <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
      {% if object.teacher.user == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'article-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'article-delete' object.id %}">Delete</a>
        </div>
      {% endif %}
    </div>
    <h2 class="title">{{ object.subject }}</h2>
    <p class="content text-dark">{{ article.data }}</p>
  </div>
</article>
{% endblock content %}
